<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - My ASP.NET Core Application</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="logo">Maksym Luszczaniec</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Home/About">About</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
                <li><a href="/Home/Projects">Projects</a></li>
                <li><a href="/FeverCheck">Fever Checker</a></li>
                <li><a href="/GuessingGame">Guessing Game</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        &copy; @DateTime.Now.Year - Maksym Luszczaniec
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>




