@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About";
}
<h1>About Us</h1>
<p>
    
    
    <body>
        <h1>Min CV</h1>

        <div class="section">
            <h2>Arbetslivserfarenhet</h2>

            <div>
                <p class="job-title">Köksbiträde och kock</p>
                <p class="company">Astar, Växjö</p>
                <p class="date">mar 2022 - mar 2023</p>
                <div class="details">
                    <p>Jag har genom min utbildning haft 8 månader praktik som köksbiträde och kock i en thairestaurang och därifrån fick jag bra praktikbetyg. Där fick jag också mycket erfarenhet och kännedom om min roll och arbetsuppgifter bland annat inom service, servering och kunskaper inom arbetsområde som: städ, lager, köksuppgifter, servering och förberedning av mat.</p>
                </div>
            </div>

            <div>
                <p class="job-title">Butiksbiträde och lagerarbetare</p>
                <p class="company">Wroclaw</p>
                <p class="date">jan 2018 - aug 2018</p>
                <div class="details">
                    <p>Jag arbetade som säljare och lagerarbetare. Jag fick ta itu med att ta emot varor där, prata med kunder, sortera paket och skicka. Jag sysslade även med dokumentation när jag hade mer fritid.</p>
                </div>
            </div>
        </div>

        <div class="section">
            <h2>Utbildning</h2>

            <div>
                <p class="job-title">Kock</p>
                <p class="company">Astar, Växjö</p>
                <p class="date">nov 2021 - mar 2023</p>
                <div class="details">
                    <p>APL som köksbiträde (4 månader). Jobbar i köket, städar och lagar mat, ibland med kunder.</p>
                    <p>Kursen innehöll 11 ämnen som:</p>
                    <ul>
                        <li>Hygien</li>
                        <li>Matlagning 1</li>
                        <li>Branschkunskap inom rest och livsmedel</li>
                        <li>Livsmedels och näringskunskap 1</li>
                        <li>Service och bemötande 1</li>
                        <li>Matlagning 2</li>
                        <li>Matlagning 3</li>
                        <li>Matlagning 4</li>
                        <li>Mat och dryck</li>
                        <li>Specialisering</li>
                        <li>Specialkost</li>
                    </ul>
                </div>
            </div>

            <div>
                <p class="job-title">Logistics Technician</p>
                <p class="company">Technican 12, Wroclaw</p>
                <p class="date">sep 2013 - maj 2017</p>
                <div class="details">
                    <p>A.30. Organisering och övervakning av flödet av resurser och information i processerna för produktion, distribution och lagring.</p>
                    <p>A.31. Hantering av tekniska åtgärder i transportprocesser.</p>
                    <p>A.32. Organisera och övervaka flödet av resurser och information i organisatoriska enheter.</p>
                    <p>Innehavaren av detta intyg om kompetens i yrket som logistiktekniker och har förmåga att:</p>
                    <ul>
                        <li>Organisera och övervaka logistikflöden i processerna för produktion, lagring och distribution och flöden av resurser och information i organisatoriska och administrativa enheter</li>
                        <li>Organisera transportprocessen, förbereda en enhetslast för transport och sortering</li>
                        <li>Använda informationssystem och datorprogram som stödjer implementeringen av logistikprocessen</li>
                        <li>Tillämpa principerna för lagerlagring och lagerhantering</li>
                        <li>Utarbeta dokumentation relaterad till logistikflöde och implementering av transportprocesser</li>
                        <li>Optimera kostnaderna och bestämma priset på logistiktjänster</li>
                        <li>Hantera massevenemang i enlighet med gällande regler</li>
                        <li>Iaktta brand- och miljöskyddsbestämmelser och krav på ergonomi på arbetsplatsen</li>
                        <li>Ge första hjälpen till skadade vid olycksfall i arbetet och i livs- eller hälsofarliga situationer</li>
                        <li>Tillämpa bestämmelserna om affärsverksamhet arbetsrätt och personuppgiftslagstiftning</li>
                        <li>Använda ett främmande språk och använda främmande språk informationskälla</li>
                        <li>Organisera ett litet teams arbete</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    </html>
</p>
