@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Projects";
}
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Projects</h1>
    <p>cv:</p>
    <ul>
        <li><a href="#">Project 1</a> - Sketch of Maksym Luszczaniec's portfolio</li>
        <li><a href="https://github.com/MaksymLuszczaniec/projectNew.git" target="_blank">Project 2</a> My github</li>
        <
    </ul>
    <footer>
        <p>&copy; 2024 - Maksym Luszczaniec</p>
    </footer>
</body>
</html>


